:root {
    --color-primary: 2 132 199;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #0284c7;
    --primary-color-text: #ffffff;
}

[theme-mode='dark'] {
    --primary-color: #2563eb;
    --primary-color-text: #f1f5f9;
}

.my-custom-input {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}

.scrollbar::-webkit-scrollbar {
    @apply w-1.5 h-1.5 bg-slate-800 dark:bg-slate-300;
}

.scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-100 dark:bg-slate-900;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-800 dark:bg-white;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-800/80 dark:bg-white/80;
}

.scrollbar-sidebar::-webkit-scrollbar {
    @apply w-1 h-1 bg-slate-800 dark:bg-slate-300;
}

.scrollbar-sidebar::-webkit-scrollbar-track {
    @apply bg-slate-800 dark:bg-slate-900;
}

.scrollbar-sidebar::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-slate-600 rounded;
}

.scrollbar-sidebar::-webkit-scrollbar-thumb:hover {
    @apply bg-white/80;
}

.scrollbar-table::-webkit-scrollbar {
    @apply w-1.5 h-1.5 bg-slate-800 dark:bg-white;
}

.scrollbar-table::-webkit-scrollbar-track {
    @apply bg-white dark:bg-slate-800;
}

.scrollbar-table::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-slate-300 rounded;
}

.scrollbar-table::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-800/80 dark:bg-white;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    @apply dark:invert;
}
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    @apply dark:invert;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-calendar-picker-indicator {
    @apply dark:invert;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    @apply dark:invert;
}
html.dark [type=text],
html.dark input:where(:not([type])),
html.dark [type=email],
html.dark [type=url],
html.dark [type=password],
html.dark [type=number],
html.dark [type=date],
html.dark [type=datetime-local],
html.dark [type=month],
html.dark [type=search],
html.dark [type=tel],
html.dark [type=time],
html.dark [type=week],
html.dark [multiple],
html.dark textarea,
html.dark select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #09090b;
    border-color: #52525b;
    border-width: 1px;
    border-radius: 0;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

@media all and (max-width: 576px){
    table thead.uppercase{
        text-transform: inherit;
    }
}
.select-width .p-inputtext{
    font-size: 14px;
    margin: 0;
    height: 36px;
}
.select-width .p-select{
    justify-content: space-between;
}

