:root {
    --color-primary: 2 132 199;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #0284c7;
    --primary-color-text: #ffffff;
}

[theme-mode='dark'] {
    --primary-color: #2563eb;
    --primary-color-text: #f1f5f9;
}

.my-custom-input {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}


.scrollbar::-webkit-scrollbar {
    @apply w-1.5 h-1.5 bg-slate-800 dark:bg-slate-300;
}

.scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-100 dark:bg-slate-900;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-800 dark:bg-white;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-800/80 dark:bg-white/80;
}

.scrollbar-sidebar::-webkit-scrollbar {
    @apply w-1 h-1 bg-slate-800 dark:bg-slate-300;
}

.scrollbar-sidebar::-webkit-scrollbar-track {
    @apply bg-slate-800 dark:bg-slate-900;
}

.scrollbar-sidebar::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-slate-600 rounded;
}

.scrollbar-sidebar::-webkit-scrollbar-thumb:hover {
    @apply bg-white/80;
}

.scrollbar-table::-webkit-scrollbar {
    @apply w-1.5 h-1.5 bg-slate-800 dark:bg-white;
}

.scrollbar-table::-webkit-scrollbar-track {
    @apply bg-white dark:bg-slate-800;
}

.scrollbar-table::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-slate-300 rounded;
}

.scrollbar-table::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-800/80 dark:bg-white;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    @apply dark:invert;
}
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    @apply dark:invert;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-calendar-picker-indicator {
    @apply dark:invert;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    @apply dark:invert;
}


@media (prefers-color-scheme: dark) {
    [type=text],
    input:where(:not([type])),
    [type=email],
    [type=url],
    [type=password],
    [type=number],
    [type=date],
    [type=datetime-local],
    [type=month],
    [type=search],
    [type=tel],
    [type=time],
    [type=week],
    [multiple],
    textarea,
    select {
        background-color: transparent !important;
    }
}
